:root {
  --text-color: #333;
  --font-size: 32px;
}

body {
  color: var(--text-color);
  font-size: var(--font-size);
}

@each $state in question-active connection-lost connection-broken thanks-for-voting poll-ended you-won {
  .#{$state} {
    display: none;
  }
  [data-state="#{$state}"] .#{$state} {
    display: block;
  }
}
